# Ignore build output
Objects/
Listings/
*.bak
*.crf
*.d
*.dep
*.o
*.axf
*.hex
*.lst
*.map

# Ignore user-specific settings
*.uvopt
*.uvoptx

# Track source code
!*.c
!*.h
!*.s

# Track Keil project files
!*.uvproj
!*.uvprojx

# Track gitignore
!.gitignore
